.chat-list {
  .ant-list-item-meta-title,
  .ant-list-item-meta-description {
    p,
    small {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 800px) {
  .chat-list {
    .ant-list-item-meta-title,
    .ant-list-item-meta-description {
      width: 200px;
    }
  }
}
