.message-row {
  padding-bottom: 6px;
  &.my-message {
    text-align: right;
    .message-box {
      background-color: #ffdc00;
    }
  }
  &.other-message {
    text-align: left;
    .message-box {
      margin-left: 40px;
      background-color: #ffffff;
    }
    .message-tag {
      margin-left: 40px;
    }
  }
  .message-box {
    max-width: 80%;
    text-align: left;
    border: none;
    display: inline-block;
  }
  .message-tag {
    color: #ffffff;
    font-size: 12px;
  }
  a {
    color: #4286f4;
    text-decoration: underline;
  }
}

.date-divider {
  color: #fff !important;
  font-size: 12px !important;
}

.participate-message {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 12px 0;
  padding: 5px 0;
  font-size: 12px;
}
